  <div class="jumbotron">
    <h1 class="title">相马汇</h1>
    <p class="slogan">    <br />

    伯乐与千里马，
    <br />
     因为彼此而成就。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
