  <div class="jumbotron">
    <h1 class="title">相马汇</h1>
    <p class="slogan">

    伯乐与千里马，
    <br />
     因为彼此而成就对方。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

         <div class="clearfix"></div>
         <h2 class="section-heading">望眼欲穿盼君来</h2>
         <p class="lead"><a  href="/jobs">这里总会遇到伯乐 </a></p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
 <div class="content-section-a">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-sm-6">

       <div class="clearfix"></div>
       <h2 class="section-heading"><br />江山代有人才出</h2>
       <p class="lead"> <a  href="/jobs">这里总能找到用武之地 </a></p>
     </div>
     <div class="col-lg-5 col-lg-offset-2 col-sm-6">
       <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>
