  <div class="jumbotron">
    <h1 class="title">相马汇</h1>
    <p class="slogan">这里总有你的用武之地。
    <br>
    千里马与伯乐
    <br>
     因为彼此成就了对方
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">千金市马</a></p>
  </div>
